html, body {
  width: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: arial; }

a {
  text-decoration: none;
  color: black; }

main {
  width: 480px;
  margin: 0 auto; }

.editor {
  border: 1px solid grey;
  background: #cccccc;
  position: relative; }
  .editor ::selection {
    color: inherit; }
  .editor .space {
    padding: 0 10px;
    margin: 10px 0; }
    .editor .space .add {
      visibility: hidden; }
    .editor .space:hover {
      background-color: #eeeeee; }
      .editor .space:hover .add {
        visibility: visible; }
  .editor .block {
    background: white;
    border: grey;
    position: relative;
    border: 1px solid black;
    margin: 0 10px;
    overflow: hidden; }
    .editor .block .text {
      padding: 5px;
      width: 100%;
      max-width: 100%;
      min-height: 100px;
      border: none;
      resize: none; }
      .editor .block .text:focus {
        outline: none; }
      .editor .block .text::selection {
        background-color: orange; }
  .editor .menu-bar {
    background: #dddddd;
    padding: 2px;
    height: 30px; }
